body {
	background-color: #000;
	background-image: url(background.jpg);
	margin: 0px;
	background-attachment: fixed;
}
#wrapper {
	margin-right: auto;
	margin-left: auto;
	width: 980px;
	margin-top: 0px;
}
#header {
	margin-right: auto;
	margin-left: auto;
	width: 980px;
}
#green-divider {
	margin-right: auto;
	margin-left: auto;
	width: 980px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#content-left {
	margin-right: auto;
	margin-left: auto;
	width: 500px;
	float: left;
	padding-right: 30px;
	padding-left: 25px;
	padding-top: 15px;
}
#content-right {
	margin-right: auto;
	margin-left: auto;
	width: 175px;
	float: left;
	padding-right: 20px;
	padding-left: 25px;
	padding-top: 15px;
}
#content-right2 {
	margin-right: auto;
	margin-left: auto;
	width: 170px;
	float: left;
	padding-right: 25px;
	padding-left: 10px;
	padding-top: 15px;
}
#footer {
	margin-right: auto;
	margin-left: auto;
	width: 980px;
	float: left;
}
p {
	font-family: Verdana, Geneva, sans-serif;
	color: #999;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}
h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #CA6628;
	text-decoration: none;
	font-weight: normal;
	display: inline;
}
.me {
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 10px;

}
